<h1>注文一覧</h1>

<table>
  <thead>
    <tr>
      <th>注文ID</th>
      <th>顧客名</th>
      <th>ステータス</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to '詳細', admin_order_path(order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>