<h1>注文詳細</h1>

<p>
  <strong>注文ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>顧客名:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @order.status %>
</p>

<%= link_to '戻る', admin_orders_path %>