<h1>お問い合わせ詳細</h1>

<p>
  <strong>名前:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>メッセージ:</strong>
  <%= @contact.message %>
</p>

<%= link_to '戻る', admin_contacts_path %>