<div class="slider">
    <!-- Slider images go here -->
  <ul class="slider_wrap">
    <li>
      <%= image_tag 'slideimage.jpg', alt: 'Slider Image 1' %>
    </li>
    <li>
      <%# image_tag 'slider_image2.jpg', alt: 'Slider Image 2' %>
    </li>
    <li>
      <%# image_tag 'slider_image3.jpg', alt: 'Slider Image 3' %>
    </li>
  </ul>
</div>
<section class="welcome-info">
    <h2>Welcome</h2>
    <p>食べてほっこり、体と子供に優しいパンとベーグル。</p>
    <p>元海上自衛隊店主が作る自家製酵母の手作りベーグル。</p>
    <p>国産 岡山県産の食材にこだわっています。</p>
</section>
<section class="top-info">
     <iframe class="responsive-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.531537190386!2d133.9811616113087!3d34.79256687816503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3554111faf81f8bf%3A0x7774a5c1bf2ae989!2z44CSNzAxLTIyMjUg5bKh5bGx55yM6LWk56OQ5biC5bGx5Y-j77yV77yT77yU4oiS77yS!5e0!3m2!1sja!2sjp!4v1726445504334!5m2!1sja!2sjp"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
     </iframe>
</section>
<section class="instagram">
    <a href="https://www.instagram.com/bagel.mallow/">
        <img src="https://cdn.goope.jp/23154/220209214355-6203b70bc09b0_t.jpg" alt="Instagram">
    </a>
</section>