<div class="slider">
</section><img src="//cdn.goope.jp/23154/230813211134er6h_l.jpg" alt style="display: block;">
</div>
<section class="welcome-info">
    <h2>Welcome</h2>
    <p>食べてほっこり、体と子供に優しいパンとベーグル。</p>
    <p>元海上自衛隊店主が作る自家製酵母の手作りベーグル。</p>
    <p>国産 岡山県産の食材にこだわっています。</p>
</section>
<section class="top-info">
    <h2>Information</h2>
    <ul>
        <li><span>2024-09-02</span><a href="/info/3915990">9月2日(月)21：00～通販受付いたします</a></li>
        <li><span>2024-07-30</span><a href="/info/5845991">夏季休業のおしらせ</a></li>
        <li><span>2024-04-21</span><a href="/info/4506422">春の陶器市開催です</a></li>
        <li><span>2024-02-06</span><a href="/info/5577751">臨時休業いたします</a></li>
        <li><span>2023-12-10</span><a href="/info/5486533">年末年始のお休み</a></li>
    </ul>
</section>
<section class="instagram">
    <a href="https://www.instagram.com/bagel.mallow/">
        <img src="https://cdn.goope.jp/23154/220209214355-6203b70bc09b0_t.jpg" alt="Instagram">
    </a>