<div class="slider">
    <!-- Slider images go here -->
  <ul class="slider_wrap">
    <li>
      <%= image_tag 'slideimage.jpg', alt: 'Slider Image 1' %>
    </li>
    <li>
      <%# image_tag 'slider_image2.jpg', alt: 'Slider Image 2' %>
    </li>
    <li>
      <%# image_tag 'slider_image3.jpg', alt: 'Slider Image 3' %>
    </li>
  </ul>
</div>
<section class="welcome-info">
    <h2>Welcome</h2>
    <p>食べてほっこり、体と子供に優しいパンとベーグル。</p>
    <p>元海上自衛隊店主が作る自家製酵母の手作りベーグル。</p>
    <p>国産 岡山県産の食材にこだわっています。</p>
</section>
<section class="top-info">
     <!-- '店舗のGoogle Map挿入' -->
</section>
<section class="instagram">
    <a href="https://www.instagram.com/bagel.mallow/">
        <img src="https://cdn.goope.jp/23154/220209214355-6203b70bc09b0_t.jpg" alt="Instagram">
    </a>
</section>